<div ng-controller="UserController" ng-cloak>
    <md-content flex layout="column" layout-padding>
            <h3 name="page-title">Users</h3>
            <form method="post" name="formAddUser" ng-submit='submitUser(formAddUser.$valid)' novalidate>                
                <md-content layout="row" flex>
                    <md-content flex>                        
                        <md-input-container class="md-icon-float md-block" >
                            <md-icon md-svg-src="{{icons.path + icons.icon.person}}" class="name"></md-icon>
                            <input name="name" ng-model="state.user.name" type="text" placeholder="Name (required)" ng-required="true">
                        </md-input-container>
                    </md-content>
                    <md-content layout-align="center center">
                        <md-button name='submitForm' class="md-raised md-primary" type="submit" >Add</md-button>
                    </md-content>
                </md-content>
            </form>
            <md-content layout="row" flex>
                <div flex="40">ID</div>
                <div flex>Name</div>
            </md-content>
            <md-divider></md-divider>
            <div ng-repeat="user in state.listUsers" >
                <md-content  layout="row"> 
                    <div layout="column" layout-padding flex="40">{{ user._id }}</div>
                    <div layout="column" layout-padding flex>{{ user.name }}</div>                            
                </md-content>
                <md-divider></md-divider>                    
            </div>
    </md-content>
</div>