<div ng-controller="RestaurantController" ng-cloak>
    <md-content flex layout="column" layout-padding>
            <h3 name="page-title">Restaurant</h3>
            <form method="post" name="formAddRestaurant" ng-submit='submitRestaurant(formAddRestaurant.$valid)' novalidate>                
                <md-content layout="row" flex>
                    <md-content flex>                        
                        <md-input-container class="md-icon-float md-block" >
                            <md-icon md-svg-src="{{icons.path + icons.icon.restaurant}}" class="name"></md-icon>
                            <input name="description" ng-model="state.restaurant.description" type="text" placeholder="Restaurant Name (required)" ng-required="true">
                        </md-input-container>
                    </md-content>
                    <md-content layout-align="center center">
                        <md-button name='submitForm' class="md-raised md-primary" type="submit" >Add</md-button>
                    </md-content>
                </md-content>
            </form>
            <md-content layout="row" flex>
                <div flex="40">ID</div>
                <div flex>Restaurant Name</div>
            </md-content>
            <md-divider></md-divider>
            <div ng-repeat="restaurant in state.listRestaurants" >
                <md-content  layout="row"> 
                    <div layout="column" layout-padding flex="40">{{ restaurant._id }}</div>
                    <div layout="column" layout-padding flex>{{ restaurant.description }}</div>                            
                </md-content>
                <md-divider></md-divider>                    
            </div>
    </md-content>
</div>