<div ng-controller="MainController">
    <md-content flex layout="column" layout-padding>
        <md-toolbar class='md-accent md-hue-3' layout-align="center center">
            <span name="page-title">Restaurant of the Week</span>
        </md-toolbar>
        <form method="post" name="formAddVote" ng-submit='submitVote(formAddVote.$valid)' novalidate>                
            <md-content layout="column"> 
                <md-content layout="row">                                
                    <md-input-container flex="100" class="md-icon-float md-block" >
                        <label>User</label>
                        <md-select ng-model="state.vote.user" required>
                            <md-option name="user" ng-value="user" ng-repeat="user in state.listUsers" >{{user.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
                <md-content layout="row">                        
                    <md-input-container flex="100" class="md-icon-float md-block" >
                        <label>Restaurant</label>
                        <md-select ng-model="state.vote.restaurant" required>
                            <md-option name="restaurant" ng-value="restaurant" ng-repeat="restaurant in state.listRestaurants" >{{restaurant.description}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
                <md-content>
                    <md-input-container flex="100" class="md-icon-float md-block" >
                        <label>Select Day</label>
                        <md-select ng-model="state.vote.dateVoted" required>
                            <md-option name="date" ng-value="day.dateVoted" ng-repeat="day in state.weekDays" >{{day.pretty}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
            </md-content>
            <md-content layout="row" layout-align="end center">
                <md-button name="submitForm" class="md-raised md-primary" type="submit" >Vote</md-button>
            </md-content>
        </form>
        <md-divider></md-divider>
        <md-content layout="row">
            <md-content layout="column" flex ng-repeat="(day, days) in state.listVotes | orderBy: 'dateVoted' | groupBy: 'dateVoted'">
                <md-list class="md-dense">
                    <md-subheader class="md-no-sticky">{{day | date: 'EEEE, MMMM d, y'}}</md-subheader>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Votes: {{days.length}}</md-subheader>
                    <md-subheader class="md-no-sticky">Restaurant</md-subheader>
                </md-list>
                <md-list class="md-dense" ng-repeat="(vote, votes) in days | groupBy: 'restaurantId' ">
                    <md-list-item flex ng-repeat="restaurant in votes">
                        {{restaurant.restaurantDescription}} ({{restaurant.userName}})
                    </md-list-item>
                    <md-list-item>
                        Votes: <span class="vote-count">{{votes.length}}</span>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-content>
</md-content>
</div>