<div layout="row" class="back-to-top">
    <md-button class="md-fab" ng-click="scrollToTop()" aria-label="Back to Top">
        <md-icon md-svg-src="/assets/img/icons/{{pageSettings.scroolTop.img}}.svg"></md-icon>
        <!--<md-tooltip md-direction="top">{{pageSettings.scroolTop.alt}}</md-tooltip>-->
    </md-button>                
</div>