<md-content>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <div flex ng-include="'components/menu/menuView.html'" ng-controller="MenuController"></div>
            <md-button name="homeButton" ui-sref="home" class="md-icon-button" aria-label="Home">
                <md-icon md-svg-icon="{{pageSettings.home.path + pageSettings.home.name}}"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</md-content>